<section>
  <div class="container">
    <div class="title">
      {{site.title}}
    </div>
    <div class="description">
      {{site.description}}
    </div>
  </div>
</section>

<div class="navbar">
   <nav>
     <div class="nav-wrapper">

       <ul class="left hide-on-med-and-down">
         <li><a href="/index.html">HOME</a></li>

         {% for sitePage in site.pages %}
         {% if sitePage.title %}
         <li><a href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a></li>

         {% endif %}
         {% endfor %}




            </ul>
     </div>
   </nav>
 </div>
